<h3>简介</h3>
<p>Treemap一词很好的表示了一个Tree状结构转化为平面空间矩形的状态，就像一张地图.</p>
<p>不可否认，作为90后的TreeMap也有一些缺点，例如无法很好的对比更深层级的子节点、极限值情况下不可读等等问题</p>
{{#list-area-component data=model.data dversion=model.version }}
{{outlet}}
{{/list-area-component}}