{{!-- The following component displays Ember's default welcome message. --}}
{{!-- welcome-page --}}
{{!-- Feel free to remove this! --}}
<hr>

{{outlet}}
<h2>
{{#link-to 'loading'}}
loading 加载中
{{/link-to}}
</h2>
<h2>
{{#link-to 'demo'}}
  D3 数据分析演示
{{/link-to}}
</h2>